<!DOCTYPE html>
<html>
<head>
  <title>Genkan</title>
  <%= stylesheet_link_tag    "genkan/application", media: "all" %>
  <%= javascript_include_tag "genkan/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
